# Financial Analysis

# Imports

In [1]:
!source /Users/rah/Desktop/correlation_one_ds4a/env/bin/activate

In [2]:
import pandas as pd
import yfinance as yf
import logging
from tickers import *
from cryptocurrencies import *
from datetime import *

In [3]:
# logging
logger = logging.getLogger('yfinance')
logger.setLevel(logging.ERROR)  # default: only print errors
logger.setLevel(logging.CRITICAL)  # disable printing
logger.setLevel(logging.DEBUG)  # verbose: print errors & debug info

# Reading data from sources

### Stocks

In [4]:
# reading in tickers list > 
#tickers = pd.DataFrame(tickers)

#  Assigning column header 'ticker' to the DataFrame
#tickers.columns = ['ticker']

# Sorting the DataFrame by the 'ticker' column in ascending order
#tickers = tickers.sort_values(by='ticker', ascending=True)

# Resetting the index of the DataFrame
#tickers = tickers.reset_index(drop=True)

#tickers

In [5]:
#download data example
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")
data

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.095846  201.337387  29.037500  225.240005  29.082500
2017-01-04  27.065521  202.535187  29.004999  226.580002  29.127501
2017-01-05  27.203154  202.374283  29.152500  226.399994  29.215000
2017-01-06  27.506426  203.098328  29.477501  227.210007  29.540001
2017-01-09  27.758369  202.427948  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  33.654099  212.923676  35.910000  237.169998  35.987499
2017-04-25  33.862614  214.162613  36.132500  238.550003  36.224998
2017-04-26  33.663460  214.027908  35.919998  238.399994  36.150002
2017-04-27  33.689224  214.207504  35.947498  238.600006  36.040001
2017-04-28  33.656433  213.740616  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]

In [6]:
# see tickers
tickers

['ABMD',
 'ATVI',
 'ADBE',
 'AMD',
 'AGNC',
 'AKAM',
 'ALXN',
 'ALGN',
 'ALKS',
 'ALNY',
 'GOOG',
 'GOOGL',
 'AABA',
 'AMZN',
 'DOX',
 'UHAL',
 'AMOV',
 'AAL',
 'AMGN',
 'ADI',
 'ANGI',
 'ANSS',
 'AAPL',
 'AMAT',
 'ACGL',
 'ARCC',
 'ASML',
 'AZPN',
 'ATHN',
 'TEAM',
 'ADSK',
 'ADP',
 'BIDU',
 'OZRK',
 'BIIB',
 'BMRN',
 'TECH',
 'BLKB',
 'BUFF',
 'BLUE',
 'BOKF',
 'BKNG',
 'BHF',
 'AVGO',
 'CHRW',
 'CA',
 'CDNS',
 'CZR',
 'CG',
 'CAVM',
 'CBOE',
 'CDK',
 'CDW',
 'CELG',
 'CERN',
 'CHTR',
 'CHKP',
 'CINF',
 'CTAS',
 'CSCO',
 'CTXS',
 'CME',
 'CGNX',
 'CTSH',
 'COLM',
 'CMCSA',
 'CBSH',
 'COMM',
 'CPRT',
 'CSGP',
 'COST',
 'CACC',
 'CSX',
 'CTRP',
 'CY',
 'XRAY',
 'DXCM',
 'FANG',
 'DISCB',
 'DISCA',
 'DISCK',
 'DISH',
 'DLTR',
 'DBX',
 'DNKN',
 'ETFC',
 'EWBC',
 'EBAY',
 'SATS',
 'ESLT',
 'EA',
 'EQIX',
 'ERIE',
 'EXEL',
 'EXPE',
 'EXPD',
 'ESRX',
 'FFIV',
 'FB',
 'FAST',
 'FITB',
 'FSLR',
 'FISV',
 'FLEX',
 'FLIR',
 'FTNT',
 'GLPI',
 'GRMN',
 'GLIBA',
 'GNTX',
 'GILD',
 'GT',
 'LOPE',
 'HAS',
 'HDS',
 'HSIC',
 'HOLX',
 'HBANO',
 'HBAN',
 'IAC',
 'IEP',
 'ICLR',
 'ICUI',
 'IDXX',
 'INFO',
 'ILMN',
 'INCY',
 'INTC',
 'IBKR',
 'INTU',
 'ISRG',
 'IONS',
 'IPGP',
 'JBHT',
 'JKHY',
 'JAZZ',
 'JD',
 'JBLU',
 'KLAC',
 'KHC',
 'LRCX',
 'LAMR',
 'LECO',
 'LFUS',
 'LKQ',
 'LOGI',
 'LOGM',
 'LPLA',
 'LULU',
 'MSG',
 'MKTX',
 'MAR',
 'MRVL',
 'MTCH',
 'MXIM',
 'MELI',
 'MEOH',
 'MCHP',
 'MU',
 'MSCC',
 'MSFT',
 'MIDD',
 'MKSI',
 'MOMO',
 'MDLZ',
 'MNST',
 'MYL',
 'NDAQ',
 'NATI',
 'NKTR',
 'NTAP',
 'NTES',
 'NFLX',
 'NBIX',
 'NWS',
 'NWSA',
 'NDSN',
 'NTRS',
 'NCLH',
 'NTNX',
 'NVDA',
 'NXPI',
 'ODFL',
 'ON',
 'OTEX',
 'ORLY',
 'PCAR',
 'PACW',
 'PAYX',
 'PYPL',
 'PBCT',
 'PEP',
 'PPC',
 'PNFP',
 'POOL',
 'QQQ',
 'PRAH',
 'PFG',
 'PFPT',
 'PTC',
 'QGEN',
 'QRVO',
 'QCOM',
 'REGN',
 'ROST',
 'RGLD',
 'RYAAY',
 'SABR',
 'SAGE',
 'SBAC',
 'STX',
 'SGEN',
 'SEIC',
 'SHPG',
 'SBNY',
 'SINA',
 'SIRI',
 'SWKS',
 'SPLK',
 'SSNC',
 'SBUX',
 'STLD',
 'SRCL',
 'SIVB',
 'SYMC',
 'SNPS',
 'TROW',
 'TTWO',
 'AMTD',
 'TSLA',
 'TXN',
 'TMUS',
 'TSCO',
 'TRMB',
 'TRIP',
 'FOX',
 'UBNT',
 'ULTA',
 'ULTI',
 'VRSN',
 'VRSK',
 'VRTX',
 'VIA',
 'VIRT',
 'VOD',
 'WBA',
 'WB',
 'WDC',
 'WLTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XLNX',
 'YNDX',
 'ZBRA',
 'ZG',
 'ZION',
 'VOO',
 'SPY',
 'FENY',
 'XOP',
 'META',
 'BRK/A',
 'BRK/B',
 'V',
 'TSM',
 'XOM',
 'UNH',
 'JNJ',
 'JPM',
 'WMT',
 'MA',
 'CVX',
 'PG',
 'LLY',
 'HD',
 'BABA',
 'NVO',
 'BAC',
 'KO',
 'ABBV',
 'PFE',
 'PEP',
 'COST',
 'AZN',
 'TM',
 'MCD',
 'NKE',
 'NVS',
 'ABT',
 'WFC',
 'VZ',
 'BMY',
 'MS',
 'UPS',
 'TTE',
 'HSBC',
 'T',
 'SCHW',
 'SAP',
 'ANGEN']

In [7]:
# for loop to download data for multiple tickers

# Create an empty DataFrame to store the combined data
combined_data = pd.DataFrame()

# Iterate over each ticker symbol
for ticker in tickers:
    # Download data for the ticker within the specified date range
    data = yf.download(ticker, start="1900-01-01", end=datetime.today())
    
    # Add a column with the ticker name
    data['Ticker'] = ticker
    
    # Concatenate the data to the combined DataFrame
    combined_data = pd.concat([combined_data, data])

# Print the combined data
#print(combined_data)

1 Failed download:
['ALXN']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['AABA']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['AMOV']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['ATHN']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['OZRK']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['CDK']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['CELG']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['CERN']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['CTXS']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['CTRP']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['CY']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['DISCB']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['DISCA']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['DISCK']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['DNKN']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['ETFC']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['FB']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['FLIR']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['GLIBA']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['HDS']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['HBANO']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['INFO']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['LOGM']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['MSG']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['MXIM']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['MYL']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['PBCT']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['PRAH']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['PFPT']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['SINA']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['SIVB']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['SYMC']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['UBNT']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['ULTI']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['WLTW']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['XLNX']: Exception('%ticker%: No timezone found, symbol may be delisted')
Failed to get ticker 'BRK/A' reason: Expecting value: line 1 column 1 (char 0)

1 Failed download:
['BRK/A']: Exception('%ticker%: No timezone found, symbol may be delisted')
Failed to get ticker 'BRK/B' reason: Expecting value: line 1 column 1 (char 0)

1 Failed download:
['BRK/B']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['ANGEN']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [8]:
combined_data.sort_values(by=['Date','Ticker'],ascending=[False,True])

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2023-06-21,16.250000,16.350000,16.000000,16.299999,16.299999,18334650.0,AAL
2023-06-21,184.899994,185.410004,182.590103,183.960007,183.960007,49421212.0,AAPL
2023-06-21,136.750000,137.429993,134.679993,136.860001,136.860001,5786376.0,ABBV
2023-06-21,106.620003,106.760002,105.620003,106.250000,106.250000,3316490.0,ABT
2023-06-21,71.059998,71.980003,70.720001,71.769997,71.769997,2568399.0,ACGL
...,...,...,...,...,...,...,...
1962-01-02,0.000000,11.187500,11.000000,11.125000,1.951761,32000.0,GT
1962-01-02,0.000000,0.223380,0.222222,0.223380,0.065487,0.0,JNJ
1962-01-02,0.263021,0.270182,0.263021,0.263021,0.048913,806400.0,KO
1962-01-02,0.000000,1.441406,1.421875,1.429688,0.264243,192000.0,PG
1962-01-02,0.000000,1.589844,1.578125,1.578125,0.097452,902400.0,XOM

### Crypto

In [9]:
cryptocurrencies

['BTC-USD', 'ETH', 'XRP', 'BCH', 'ADA', 'DOT', 'LINK', 'XLM', 'DOGE']

In [10]:
# for loop to download data for multiple crypto

# Create an empty DataFrame to store the combined data
combined_crypto_data = pd.DataFrame()

# Iterate over each ticker symbol
for ticker in cryptocurrencies:
    # Download data for the ticker within the specified date range
    data = yf.download(ticker, start="1900-01-01", end=datetime.today())
    
    # Add a column with the ticker name
    data['Ticker'] = ticker
    
    # Concatenate the data to the combined DataFrame
    combined_crypto_data = pd.concat([combined_crypto_data, data])

# Print the combined data
#print(combined_data)

1 Failed download:
['ETH']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['ADA']: Exception('%ticker%: No price data found, symbol may be delisted (1d 1900-01-01 -> 2023-06-21 20:52:17.568365)')

1 Failed download:
['DOGE']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [11]:
combined_crypto_data.sort_values(by=['Date','Ticker'],ascending=[False,True])

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2023-06-21,20.719999,20.875000,20.600000,20.780001,20.780001,5.392500e+04,BCH
2023-06-21,11.000000,11.530000,11.000000,11.216500,11.216500,2.507000e+03,LINK
2023-06-20,21.219999,21.350000,20.600000,20.690001,20.690001,1.088000e+05,BCH
2023-06-20,26841.664062,28388.968750,26668.791016,28327.488281,28327.488281,2.221186e+10,BTC-USD
2023-06-20,11.460000,11.510000,11.020000,11.400000,11.400000,8.100000e+03,LINK
...,...,...,...,...,...,...,...
2002-01-08,19.200001,19.400000,18.120001,19.120001,19.120001,4.800000e+03,LINK
2002-01-07,18.000000,19.360001,18.000000,19.200001,19.200001,8.325000e+03,LINK
2002-01-04,17.959999,19.600000,17.879999,19.000000,19.000000,2.402500e+04,LINK
2002-01-03,16.840000,17.559999,16.840000,17.400000,17.400000,2.725000e+03,LINK
2002-01-02,16.719999,18.000000,16.400000,16.879999,16.879999,7.125000e+03,LINK

Baseline exploration
- How the value of stocks/crypto flunctuated overtime?
    
    YTD, 1/5/10 year lookback absolute
    Calc difference